JWT_SECRET=super-secret-shared-key-change-me
JWT_ALGORITHM=HS256
AUTH_URL=http://auth-service:8001
EMPLOYEE_URL=http://employee-service:8003
SALARY_URL=http://salary-service:8004
ATTENDANCE_URL=http://attendance-service:8005
PAYROLL_URL=http://payroll-service:8006
TDS_URL=http://tds-service:8007
COMPLIANCE_URL=http://compliance-service:8008
PAYOUT_URL=http://payout-service:8009
REPORTING_URL=http://reporting-service:8010
